.neon-text {
    color: cyan; /* White text color */
    font-family: 'Arial', sans-serif; /* Font style */
    font-size: 50px; /* Font size */
    text-align:center;
    text-shadow: 
        0 0 5px cyan, /* White glow */
        0 0 10px black, /* Magenta glow */
        0 0 20px cyan, /* Magenta glow */
        0 0 40px black, /* Magenta glow */
        0 0 80px cyan, /* Magenta glow */
        0 0 90px black; /* Magenta glow */
}


body{
    background:black;
}


